/data/cm/*
!/data/cm/.gitkeep
/data/cd/*
!/data/cd/.gitkeep
/data/sql/*
!/data/sql/.gitkeep
/data/solr/*
!/data/solr/.gitkeep

/data/zookeeper/*
!/data/zookeeper/.gitkeep
!/data/zookeeper/*.sh

/deploy/platform/*
!/deploy/platform/.gitkeep

/deploy/identity/*

/traefik/certs/*